<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="plugins/element-ui/index.css">
    <style>
        .el-header {
            background-color: #4d98f4;
            color: #333;
            line-height: 60px;
        }

        .el-aside {
            color: #333;
        }

        .el-menu-item a {
            color: #303133;
            text-decoration: none;
        }
    </style>
</head>
<!-- 引入组件库 -->
<script type="text/javascript" src="js/jquery.min.js"></script>
<script src="js/vue.js"></script>
<script src="js/axios-0.18.0.js"></script>
<script src="plugins/element-ui/index.js"></script>
<script src="./js/util.js"></script>
<body>
<div id="app">
    <el-container style="height: 700px; border: 1px solid #B3C0D1">
        <el-aside width="200px">
            <el-menu :default-openeds="['1']">
                <el-submenu v-for="menu in menuList" :index="menu.path">
                    <template slot="title">
                        <i class="el-icon-location"></i>
                        {{menu.menuName}}
                    </template>
                    <template v-for="child in menu.childList">
                        <el-menu-item :index="child.path">
                            <a :href="child.linkUrl" target="right">{{child.menuName}}</a>
                        </el-menu-item>
                    </template>
                </el-submenu>
            </el-menu>
        </el-aside>

        <el-container>
            <el-header style="text-align: right; font-size: 12px;">
                <el-dropdown>
                    <i class="el-icon-setting" style="margin-right: 15px"></i>
                    <el-dropdown-menu slot="dropdown">
                        <el-dropdown-item>查看</el-dropdown-item>
                        <el-dropdown-item>新增</el-dropdown-item>
                        <el-dropdown-item onclick="logout()">退出</el-dropdown-item>
                    </el-dropdown-menu>
                </el-dropdown>
                <span>{{username}}</span>
            </el-header>

            <el-main>
                <el-container>
                    <iframe name="right" class="el-main" src="./page/blogManage.html" width="100%" height="800px"
                            frameborder="0"></iframe>
                </el-container>
            </el-main>
        </el-container>

    </el-container>
</div>
</body>
<script>
    function logout() {
        window.location.href = "./login.html";
    }

    new Vue({
        el: '#app',
        data: {
            menuList: [/*{
                "menuName": "系统管理",
                "path": "1",
                "childList": [
                    {
                        "menuName": "用户管理",
                        "path": "/1-1",
                        "linkUrl": "./page/userManage.html",
                        "childList": [{
                            "menuName": "用户管理测试",
                            "path": "/1-1-1",
                            "linkUrl": "./page/userManage.html",
                            "childList": []
                        }]
                    },
                    {
                        "menuName": "角色管理",
                        "path": "/1-2",
                        "linkUrl": "./page/roleManage.html",
                        "childList": []
                    },
                    {
                        "menuName": "菜单管理",
                        "path": "/1-3",
                        "linkUrl": "./page/menuManage.html",
                        "childList": []
                    }
                ]
            }*/],
            username: '',
            tableData: []
        },
        methods: {
            deleteRow(index, rows) {
                rows.splice(index, 1);
            }
        },
        created() {
            axios.get("/user-info/getCurrentUser").then(res=>{
                if (res.data.isSuccess) {
                    let userTel = res.data.data.username;
                    /**
                     * 请求获取用户菜单信息
                     */
                    axios.get("/menu/getMenuList?userTel=" + userTel).then(res => {
                        if (res.data.isSuccess) {
                            this.menuList = res.data.data;
                        } else {
                            this.$message.error("获取菜单信息出错");
                        }
                    })
                } else {
                    this.$message.error("获取用户信息出错");
                }
            })

        }
    });

</script>
</html>